[submodule "COMP7508 Data-driven computer animation/Assignments/COMP7508_Data_driven_Computer_Animation"]
	path = COMP7508 Data-driven computer animation/Assignments/COMP7508_Data_driven_Computer_Animation
	url = https://github.com/zycliao/COMP7508_Data_driven_Computer_Animation.git
